.grad01 {
  height: 30rem;
  color: var(--colour-white);
  padding: 1rem;

  background: #443BFF;
  background: radial-gradient(circle, rgba(68, 59, 255, 1) 0%, rgba(251, 176, 6, 1) 16%, rgba(104, 227, 232, 1) 15%, rgba(50, 205, 50, 1) 47%, rgba(248, 73, 193, 1) 44%, rgba(1, 32, 49, 1) 89%);
}

/* Gradient border styles */
.grad01-border {
  padding: 0.5rem;
  /* This creates the border thickness */
  background: radial-gradient(circle, rgba(68, 59, 255, 1) 0%, rgba(251, 176, 6, 1) 16%, rgba(104, 227, 232, 1) 15%, rgba(50, 205, 50, 1) 47%, rgba(248, 73, 193, 1) 44%, rgba(1, 32, 49, 1) 89%);
  /* border-radius: 8px; */
  width: fit-content;
  margin: 2rem 0;
}

.grad01-content {
  background: white;
  color: black;
  padding: 2rem;
  /* border-radius: 4px; */
  /* Slightly smaller radius than the outer container */
  min-height: 200px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}